@import "../../styles/variables/colors";

.Task {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    border-radius: 42px;
    color: $dark;
  
    .info {
      display: flex;
      justify-content: space-between;
  
      img,
      button {
        width: 50px;
        border-radius: 100%;
        background-color:$trasparent;
      }
  
      button {
        border: 0;
        color: $dark;
        font-family: "Eagle Lake", cursive;
        font-size: 1.1rem;
        filter: $filter;
        cursor: pointer;
      }
    }
  
    .content {
      span {
        font-size: 0.9rem;
      }
  
      p {
        font-size: 1.8rem;
      }
    }
  }