.Header {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .Header img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  
  .Header h2 {
    position: absolute;
    top: calc(50% + 90px);
    height: 40px;
    color:white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.423);
    font-size: 2rem;
  }