.title_calendar{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.App_calendar{
    display: flex;
    flex-wrap: wrap;
}

.App_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: rgba(78, 22, 22, 0.961);
}

.App_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(78, 22, 22, 0.961);
}


