* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body{
    border:2px solid rgb(20, 83, 20);
    border-radius: 8px;
    padding:20px;
    margin:20px;
    font-family: sans-serif;
    display: flex;
    gap: 10px;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 235, 235);
  }
  


.container_card{
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    border:1px solid rgb(77, 166, 104);
    padding:8px;
    margin:8px;
}

.title_card{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: large;
    width: 250px;
    color:rgb(17, 107, 17);
}

.price_card{
    text-align: right;
    font-size: medium;
    margin:10px;
    color:black;
}

.quantity_card{
    font-size: medium;
}


