.Header {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .Header img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  
  .Header h2 {
    position: absolute;
    top: calc(50% + 90px);
    height: 40px;
    color:rgb(244, 244, 244);
    font-size: 3rem;
    text-shadow: 2px 3px 7px rgba(252, 252, 252, 0.732);
  }

  