body{
    margin:0;
    padding:0;
    background-color: rgb(202, 212, 220);
    color:white;
}

.card{
    
}

.Bag{
    text-align: center;
    font-size: 30px;
    color:#ff0000;

}

.imgBag{
    width:50%;
    height: 50;
    object-fit: cover;
}

.text2{

}

.btn{

}