// Default
//--------------------------------------------------------------------///
$black:     #000000;
$white:     #FFFFFF;


// Design System
//--------------------------------------------------------------------//
$primary: #111c2f;
$secondary:#5f89f3;
$dark: #373737;
$light: #bfc6ce;
$grey: #5c6a7c;
$skyblue: #5c87f8;
$trasparent: #9092934a;
$overlay: #7b7c7d78;
$primary_popup: #bcd7a0fb;
$filter: grayscale(0.1) contrast(0.9) saturate(1.6);

