
.App_title {
  color: rgb(3, 41, 56);
  text-align: center;
  text-shadow: 0 0 4px rgba(245, 244, 244, 0.476);
}

.App_text{
  color: rgb(3, 41, 56);
  text-shadow: 0 0 4px rgba(245, 244, 244, 0.476);
}

.wrapper {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
  background-color: white;
}