@import "./styles/variables/colors";

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .addTodo {
    position: fixed;
    bottom: 30px;
    left: calc(50vw - 50px + 6px);
    width: 70px;
    height: 70px;
    background-color: $skyblue;
    border-radius: 100%;
    border: 0;
    color: $white;
    font-size: 1.8rem;
    cursor: pointer;
  }
}