*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
  }