.dark-mode {
    background-color:black;
    color: rgb(225, 225, 225);
  }
  
  .change-mode {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
  }
